/build/
/build-*/
/cmake-build-*/
/.qtc_clangd/
/.cache/
/.idea/
/.vscode/
compile_commands.json
CMakeUserPresets.json

# Qt Creator user and session settings
CMakeLists.txt.user
CMakeLists.txt.user.*
*.creator.user
*.creator.user.*
*.pro.user
*.pro.user.*
*.qmlproject.user
*.qmlproject.user.*
*.autosave

*.user
*.swp

